<!DOCTYPE html> 
<html>
  <head>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700' rel='stylesheet' type='text/css'>
  </head>
	
  <body style = "margin: auto; font-family: 'Open Sans', sans-serif; font-size: 14px; color: #333333; line-height: 22px;">
	<div style="margin: 0 auto; display: table;">
	  <div style="background-image: url('http://d1n2b9zfqpew39.cloudfront.net/Gooru_EmailTemplate16_Header.png'); background-repeat:no-repeat; height: 200px; position: relative; width: 100%; background-size: contain;">
	  </div>
	    <div style="margin-top: 50px; padding-left: 50px; padding-right: 50px;">
          	<p style="margin-top: 20px;">Hello!</p>
            <p style="margin-top: 20px;">We&#39;re letting you know that the ${username} of the resource &quot;${resource_title}&quot; has deleted it from Gooru. You are currently using this resource in the below collections:</p>
			<p style="margin-top: 20px;">${list_of_collections}</p>
          	<p style="margin-top: 20px;">Unfortunately, this means that this resource will no longer be available for you to use or for students in any of your classes to study.</p>
			<p style="margin-top: 20px;">We apologize for any inconvenience! Try searching in Gooru&#39;s catalog to find a suitable replacement.</p>
	        <p style="margin-top: 15px; color: #666666;">If you have any questions, feel free to email us at <a href="mailto:support@gooru.org">support@gooru.org</a>.</p>
    
            <p style="margin-top: 20px;">
              Thanks! <br> The Gooru Team
		    </p>
					
			<p style="margin-top: 20px; font-size: 11px;">This email was automatically generated. Please do not reply to this email address.</p>
		</div>
	
		<div style="background-image: url('http://d1n2b9zfqpew39.cloudfront.net/Gooru_EmailTemplate16_Footer.png'); height:90px; margin-top: 50px; text-align: center;">
			<div style = "padding-top: 15px;">
				<a href="https://www.facebook.com/gooru" target="_blank"><img src="http://d1n2b9zfqpew39.cloudfront.net/Gooru_EmailTemplate16_FB.png" width="32px" height="32px"/></a>
				<a href="https://www.twitter.com/gooru" target="_blank"><img src="http://d1n2b9zfqpew39.cloudfront.net/Gooru_EmailTemplate16_Twitter.png" width="32px" height="32px"/></a>
			</div>
			<div style = "padding-top: 5px;">
				<a href="http://www.gooru.org" target="_blank"><img src="http://d1n2b9zfqpew39.cloudfront.net/Gooru_EmailTemplate16_URL.png" width="120px" height="11px"></a>
			</div>
	    </div>
	</div>
  </body>
</html>
