analytics.cassandra.seeds=127.0.0.1
analytics.cassandra.cluster=cluster
analytics.cassandra.datacenter=datacenter
analytics.cassandra.keyspace=keyspace

event.cassandra.seeds=127.0.0.1
event.cassandra.cluster=cluster
event.cassandra.datacenter=datacenter
event.cassandra.keyspace=keyspace

archived.cassandra.seeds=127.0.0.1
archived.cassandra.cluster=cluster
archived.cassandra.datacenter=datacenter
archived.cassandra.keyspace=keyspace

kafka.brokers=127.0.0.1:9092
metrics.publisher.topic=test

stat.migration.queue.limit=10
stat.migration.delay=60000

stat.publisher.queue.limit=10
stat.publisher.delay=60000

search.elasticsearch.ip=localhost
search.elasticsearch.cluster=my-application
search.elasticsearch.index=indexname
search.elasticsearch.type=typename

kafka.producer.ip=127.0.0.1
kafka.producer.port=9092
kafka.producer.type=async
kafka.consumer.ip=127.0.0.1
kafka.consumer.port=2181

kafka.consumer.topic=consumer-test
kafka.consumer.group=test-group
kafka.logwritter.topic=logwritter-test
kafka.logwritter.group=test-group

postgresql.driverurl=jdbc:postgresql://host/database
postgresql.username=password
postgresql.password=password

class.members.sync.delay=6000
total.counts.sync.delay=6000
content.authorizers.sync.delay=6000

